# Importing Libraries

In [1]:
# %pip install pandas

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as px

# Data Collection
- Import the data to jupyter notebook
- Pandas for data manipulation

In [2]:
df = pd.read_csv(r"C:\Users\abhit\Downloads\Copy of Sample_DATA.csv")

In [3]:
print(df.head(2))

  Transaction_ID        Date        Time  \
0      T00022452  20-04-2023  4:50:22 AM
1      T00032233  08-08-2023  8:09:21 AM

                            Merchant_ID                           Customer_ID  \
0  f65a902b-2396-40cc-9593-97e103f1bc15  89aaeceb-21f5-46c8-9de3-89dde6a10a75
1  d4a5efcb-4eb6-4d3a-8132-07bb3e6e13a4  8a8962f9-e84a-4573-ab0b-187311978a21

                              Device_ID Transaction_Type Payment_Gateway  \
0  c1e0deb4-7c97-4178-a838-38f4a2f0b57c           Refund       SamplePay
1  62e14f64-b0ba-4284-889a-51ac05baf33e    Bank Transfer       SamplePay

  Transaction_City Transaction_State      IP_Address Transaction_Status  \
0         Durgapur      Chhattisgarh    140.213.7.48          Completed
1  Rajpur Sonarpur  Himachal Pradesh  184.108.177.45            Pending

  Device_OS  Transaction_Frequency       Merchant_Category  \
0     MacOS                      1  Brand Vouchers and OTT
1   Windows                     30           Home delivery

  Transaction_Channel  Transaction_Amount_Deviation  \
0            In-store                         25.02
1              Mobile                        -36.64

   Days_Since_Last_Transaction  amount  fraud
0                            5  396.62      1
1                           20  121.94      1

In [4]:
print(df)

    Transaction_ID        Date         Time  \
0        T00022452  20-04-2023   4:50:22 AM
1        T00032233  08-08-2023   8:09:21 AM
2        T00037364  25-06-2023   7:49:01 AM
3        T00015924  28-01-2024   5:44:12 AM
4        T00021805  21-06-2023   9:40:59 AM
..             ...         ...          ...
642      T00026082  24-07-2023   3:12:04 AM
643      T00017272  05-07-2023   6:21:18 AM
644      T00048923  16-04-2023   8:32:41 AM
645      T00022497  28-10-2023   9:33:42 AM
646      T00032445  11-04-2024  10:48:14 AM

                              Merchant_ID  \
0    f65a902b-2396-40cc-9593-97e103f1bc15
1    d4a5efcb-4eb6-4d3a-8132-07bb3e6e13a4
2    759ad138-9473-4729-8699-3d72c7ffb983
3    d8f561e4-bded-4ef0-bcd8-5494b2e31a94
4    26fdd7a1-8537-4dfe-bcf7-f5a127b36682
..                                    ...
642  6696dc2b-d48e-4880-8845-e65aa1df8d7d
643  f2af26ef-0e08-42f8-b6ed-eaab786f5bf6
644  c6ce37eb-332d-4e4f-995f-fba48d4dedb9
645  b8ac3703-52dc-4372-b59b-4f9b51a5a855
646  9d40b579-b71e-4d16-8917-fce4ecdf9183

                              Customer_ID  \
0    89aaeceb-21f5-46c8-9de3-89dde6a10a75
1    8a8962f9-e84a-4573-ab0b-187311978a21
2    c3f53ce6-e305-4460-a71d-93bde26043ab
3    9f0c5613-7d4c-4454-bee1-c47fbba406a1
4    bf9aa6d5-7d3d-43f9-8631-31336720a383
..                                    ...
642  4ab8bcd6-295c-4ae5-b4f5-2f3182a969c8
643  6cd4af1c-6564-47eb-bcf9-cd44c45c0f2b
644  690bd64f-5c83-41b8-873a-57c9bc6bb132
645  48b40bc8-a730-4420-9702-2beecca286f0
646  108391b3-9545-49f8-be38-e356e64e8912

                                Device_ID Transaction_Type Payment_Gateway  \
0    c1e0deb4-7c97-4178-a838-38f4a2f0b57c           Refund       SamplePay
1    62e14f64-b0ba-4284-889a-51ac05baf33e    Bank Transfer       SamplePay
2    4281c542-ac77-4269-b4bb-1de93ac12677    Bank Transfer           Other
3    058b6488-2469-42f2-bc7f-707921d35cad     Subscription         UPI Pay
4    068ff12c-127a-4cfb-9899-ddde37060b28       Investment      Dummy Bank
..                                    ...              ...             ...
642  a1f5d01e-a69f-404d-b2ce-6ff4bb17de62     Bill Payment      Gamma Bank
643  36d089dd-b74d-4157-ba29-823b85368169         Purchase           Other
644  668b172d-b1ab-438b-9650-358bc8d48494     Bill Payment           Other
645  e18b7076-1718-475e-81de-9ff2c392d194    Bank Transfer    Bank of Data
646  9a6daf2d-c57f-4dbd-ae2b-86d49a9d60e3    Bank Transfer      Dummy Bank

    Transaction_City  Transaction_State       IP_Address Transaction_Status  \
0           Durgapur       Chhattisgarh     140.213.7.48          Completed
1    Rajpur Sonarpur   Himachal Pradesh   184.108.177.45            Pending
2          New Delhi   Himachal Pradesh   16.106.248.163             Failed
3          Bharatpur       Chhattisgarh   65.245.160.212             Failed
4              Sagar            Mizoram    33.172.152.38          Completed
..               ...                ...              ...                ...
642        Hyderabad              Assam     34.163.43.64            Pending
643        Bangalore            Tripura  129.125.172.104            Pending
644           Mumbai  Arunachal Pradesh     27.48.57.181             Failed
645       Vijayawada     Madhya Pradesh   206.122.250.79             Failed
646     Ichalkaranji              Assam   165.92.164.116          Completed

    Device_OS  Transaction_Frequency       Merchant_Category  \
0       MacOS                      1  Brand Vouchers and OTT
1     Windows                     30           Home delivery
2     Android                      2               Utilities
3     Android                      0               Purchases
4       MacOS                      1                   Other
..        ...                    ...                     ...
642       iOS                      4         Travel bookings
643   Windows                     10           More Services
644   Android                      1           More Services
645   Windows                      2              Investment
646       iOS                      2  Brand Vouchers and OTT

    Transaction_Channel  Transaction_Amount_Deviation  \
0              In-store                         25.02
1                Mobile                        -36.64
2                Online                         44.19
3                Online                        -54.34
4                Online                         12.38
..                  ...                           ...
642            In-store                         14.00
643              Mobile                        -33.38
644              Online                        -44.37
645            In-store                        -57.29
646            In-store                        -11.94

     Days_Since_Last_Transaction   amount  fraud
0                              5   396.62      1
1                             20   121.94      1
2                             22   106.69      1
3                             28  3611.11      1
4                             25   374.89      1
..                           ...      ...    ...
642                           25    28.27      0
643                           28    26.26      0
644                           19     6.02      0
645                           12    17.12      0
646                           26    50.60      0

[647 rows x 20 columns]

In [5]:
df.columns

Index(['Transaction_ID', 'Date', 'Time', 'Merchant_ID', 'Customer_ID',
       'Device_ID', 'Transaction_Type', 'Payment_Gateway', 'Transaction_City',
       'Transaction_State', 'IP_Address', 'Transaction_Status', 'Device_OS',
       'Transaction_Frequency', 'Merchant_Category', 'Transaction_Channel',
       'Transaction_Amount_Deviation', 'Days_Since_Last_Transaction', 'amount',
       'fraud'],
      dtype='object')

In [6]:
# Datatype Overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647 entries, 0 to 646
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction_ID                647 non-null    object
 1   Date                          647 non-null    object
 2   Time                          647 non-null    object
 3   Merchant_ID                   647 non-null    object
 4   Customer_ID                   647 non-null    object
 5   Device_ID                     647 non-null    object
 6   Transaction_Type              647 non-null    object
 7   Payment_Gateway               647 non-null    object
 8   Transaction_City              647 non-null    object
 9   Transaction_State             647 non-null    object
 10  IP_Address                    647 non-null    object
 11  Transaction_Status            647 non-null    object
 12  Device_OS                     647 non-null    object
 13  Transaction_Frequency         647 non-null    int64
 14  Merchant_Category             647 non-null    object
 15  Transaction_Channel           647 non-null    object
 16  Transaction_Amount_Deviation  647 non-null    float64
 17  Days_Since_Last_Transaction   647 non-null    int64
 18  amount                        647 non-null    float64
 19  fraud                         647 non-null    int64
dtypes: float64(2), int64(3), object(15)
memory usage: 101.2+ KB

In [7]:
# Descriptive analysis
df.describe()

,Transaction_Frequency,Transaction_Amount_Deviation,Days_Since_Last_Transaction,amount,fraud
count,647.000000,647.000000,647.000000,647.000000,647.000000
mean,3.564142,5.014668,15.717156,128.839753,0.239567
std,6.454543,56.375914,8.218122,364.995747,0.427150
min,0.000000,-99.470000,1.000000,0.120000,0.000000
25%,1.000000,-42.355000,8.500000,17.155000,0.000000
50%,2.000000,8.380000,16.000000,35.000000,0.000000
75%,3.000000,52.290000,23.000000,74.770000,0.000000
max,50.000000,99.450000,29.000000,4883.620000,1.000000

In [8]:
df.describe().T  #Transpose

,count,mean,std,min,25%,50%,75%,max
Transaction_Frequency,647.0,3.564142,6.454543,0.00,1.000,2.00,3.00,50.00
Transaction_Amount_Deviation,647.0,5.014668,56.375914,-99.47,-42.355,8.38,52.29,99.45
Days_Since_Last_Transaction,647.0,15.717156,8.218122,1.00,8.500,16.00,23.00,29.00
amount,647.0,128.839753,364.995747,0.12,17.155,35.00,74.77,4883.62
fraud,647.0,0.239567,0.427150,0.00,0.000,0.00,0.00,1.00

# Data Preparation
- Duplicate Values
- Missing values
- Unique values
- Removing / Dropping the unique values

In [9]:
# Duplication Values in the dataset
df.duplicated().sum()

0

There are no duplicate values in the dataset